body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
  margin:5px;
}
#map{
  display: block;
  width: 95%;
  height: 350px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

#instructions{
  margin-top: 10px;
}
#instructions li{
  display:none;
}