body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}
#map{
  display: block;
  width: 70%;
  height: 350px;
  margin: 80px auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}